version: 2.1
job-defaults: &job-defaults
  working_directory: &working_directory
    ~/aws-maven

attach-workspace: &attach-workspace
  attach_workspace:
    at: *working_directory

# Template to save Maven dependency cache to restore it in another jobs
save-maven-cache: &save-maven-cache
  save_cache:
    key: aws-maven-{{ checksum "pom.xml" }}
    paths:
      - ~/.m2

restore-maven-cache: &restore-maven-cache
  restore_cache:
    key: aws-maven-{{ checksum "pom.xml" }}

setup-gpg: &setup-gpg
  run:
    name: "Configuring gpg"
    command: |
      apt-get update
      apt-get install gnupg
      echo -e "$GPG_SECRET_KEY" | gpg --import --no-tty --batch --yes

machine-setup: &machine-setup
  machine:
    docker_layer_caching: false
    image: ubuntu-2204:2024.05.1

jobs:

  build:
    <<: *job-defaults
    docker:
      - image: maven:3.9-eclipse-temurin-17
    steps:
      - *setup-gpg
      - checkout
      - <<: *restore-maven-cache
      - run: mvn clean dependency:go-offline package install -U -DskipTests -T 2.0C -B
      - <<: *save-maven-cache

  test:
    <<: *job-defaults
    docker:
      - image: maven:3.9-eclipse-temurin-17
    steps:
      - *setup-gpg
      - *attach-workspace
      - <<: *restore-maven-cache
      - run: mvn verify

workflows:
  build_and_test:
    jobs:
      - build:
          context: artifact-publisher
          filters:
            tags:
              only:
                - /.*/

      - test:
          context: artifact-publisher
          requires:
            - build
          filters:
            tags:
              only:
                - /.*/
