version: 2.1
job-defaults: &job-defaults
  working_directory: &working_directory
    ~/aws-maven

attach-workspace: &attach-workspace
  attach_workspace:
    at: *working_directory

# Template to save Maven dependency cache to restore it in another jobs
save-maven-cache: &save-maven-cache
  save_cache:
    key: aws-maven-{{ checksum "pom.xml" }}
    paths:
      - ~/.m2

restore-maven-cache: &restore-maven-cache
  restore_cache:
    key: aws-maven-{{ checksum "pom.xml" }}

setup-gpg: &setup-gpg
  run:
    name: "Configuring gpg"
    command: |
      echo -e "$GPG_SECRET_KEY" | gpg --import --no-tty --batch --yes

jobs:
  build:
    <<: *job-defaults
    docker:
      - image: cimg/openjdk:8.0
    steps:
      - *setup-gpg
      - checkout
      - run: mvn clean dependency:go-offline package install -U -DskipTests -T 2.0C -B
      - <<: *save-maven-cache
      - persist_to_workspace:
          root: *working_directory
          paths:
            - "*"

  build-jdk-11:
    <<: *job-defaults
    docker:
      - image: cimg/openjdk:11.0
    steps:
      - *setup-gpg
      - checkout
      - run: mvn clean dependency:go-offline package install -U -DskipTests -T 2.0C -B
      - <<: *save-maven-cache
      - persist_to_workspace:
          root: *working_directory
          paths:
            - "*"

  test:
    <<: *job-defaults
    docker:
      - image: cimg/openjdk:8.0
    steps:
      - *setup-gpg
      - *attach-workspace
      - <<: *restore-maven-cache
      - run: mvn verify

workflows:
  build_and_test:
    jobs:
      - build-jdk-11:
          context: artifact-publisher

      - build:
          context: artifact-publisher
          filters:
            tags:
              only: /.*/

      - test:
          context: artifact-publisher
          requires:
            - build
